<%- include("header") -%>

<h1 class="box" id="heading">About this ToDo List</h1>

<p style="text-align: center;">This todo list was developped by Benguouze during Angela Wu course on Udemy </p>


<%- include("footer") -%>
